* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --highlight-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ================= Common =================*/
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 205px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    color: #fff;
    background: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: var(--highlight-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* ================= Heager =================*/
.header {
    background-color: var(--highlight-color);
    padding-top: 22px;
}

.header.fixed {
    position: sticky;
    top: -22px;
    z-index: 9;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.logos {
    display: flex;
    align-items: center;
}

.logos img:first-child {
    margin-right: 6px;
}

.navbar__list {
    display: flex;
}

.navbar__item + .navbar__item {
    margin-left: 42px;
}

.navbar__link:hover {
    color: #fff;
}

.navbar__item.active {
    list-style: disc;
    color: #fff;
}

.navbar__item.active a {
    color: #fff;
}

.navbar__link,
.link-log-in {
    color: #c9d2da;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
}

.btn-sign-up {
    margin-left: 28px;
    width: 104px;
    height: 44px;
    font-size: 1.6rem;
    line-height: 44px;
    border-radius: 22px;
}

/* ================= Heager =================*/
.hero {
    padding: 68px 0 110px;
    background: #10375c;
}

.hero__row {
    display: flex;
}

/* Hero Right */
.hero__right {
    padding-top: 60px;
    width: 44.2%;
}

.hero__heading {
    margin-bottom: 22px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-bottom: 38px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__action {
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

/* Hero Left */
.hero__left {
    margin-left: auto;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img--right {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 1;
}

.hero__img--left {
    margin-left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}

/* ================= Heager =================*/
.service {
    padding: 170px 0;
}

.service__heading {
    margin-bottom: 18px;
    text-align: center;
}

.service__desc {
    margin: auto;
    width: 468px;
    text-align: center;
}

.service__row {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.service__left {
    width: 48.7%;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__right {
    padding-left: 130px;
}

.service__list {
    padding: 35px 0 55px;
}

.service-item {
    display: flex;
    padding: 20px 61px 21px 22px;
    border-radius: 10px;
    transition: 0.25s;
}

.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #FFF;
    background-color: #2E80CE;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 19px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--highlight-color);
    background-color: #EFF6FD;
    transition: 0.25s;
}

.service-item__title {
    margin-bottom: 8px;
    color: var(--highlight-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__sub-title {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
